.app__chef-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
}

.app__chef-content_quote img {
  width: 47px;
  height: 40px;
  margin: 0 1rem 1rem 0;
}

.app__chef-sign {
  width: 100%;
  margin-top: 2rem;
}

.app__chef-sign p:first-child {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--color-golden);
}

.chef__img {
  box-shadow: 6px 2px 25px 1px rgba(220, 202, 135, 0.51);
  -webkit-box-shadow: 6px 2px 25px 1px rgba(220, 202, 135, 0.51);
  -moz-box-shadow: 6px 2px 25px 1px rgba(220, 202, 135, 0.51);
  border-radius: 30px;
}

.app__chef-sign img {
  width: 250px;
  margin-top: 1rem;
}
.owner__sign {
  height: 290px;
}

@media screen and (max-width: 2000px) {
  .app__chef-sign img {
    width: 370px;
  }
}

@media screen and (max-width: 450px) {
  .app__chef-sign img {
    width: 80%;
  }
}
